<form action="/" method="POST" >
    <div class="container">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="amount">Amount of money</label>
                <input type="number" class="form-control" id="amount" name="amount" required>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="user"></label>
                <select class="custom-select" id="user" name="user" required>
                    <option selected disabled value="">Choose person type</option>
                    <option value="natural">natural person</option>
                    <option value="juridical">legal person</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="operation"></label>
                <select class="custom-select" id="operation" name="operation" required>
                    <option selected disabled value="">Choose operation type</option>
                    <option value="cash_in">cash-in</option>
                    <option value="cash_out">cash-out</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Count</button>
    </div>
    </div>
</form>


